<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">About TodoList</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque
        officia consequatur animi sapiente laborum obcaecati quam eum quibusdam,
        beatae necessitatibus aliquid dolorum dolores magnam pariatur at quasi
        dicta aliquam odio recusandae? Laudantium unde quas, ad hic, tempore
        asperiores voluptatem esse dolores magnam ipsa architecto voluptas
        eaque? Facilis, eaque asperiores?
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">2 days ago</div>
  </div>
</div>
